<section class="phx-hero">
  <h1>Test API</h1>
  <p>Simple API that is (maybe) useful for testing</p>
</section>

<section>
  <h2>Example</h2>
  <div id="example">
    <div>
      <label>Status</label><input id="status" type="number" value="200">
      <label>Response</label><textarea id="response">hi</textarea>
      <label>Timeout</label><input id="timeout" type="number" value="1">
      <button id="example-button">Run</button>
    </div>
    <div>
      <h3>Curl</h3>
      <p id="example-curl">Press the 'Run' and you will see the curl command here.</p>
    </div>
    <div>
      <h3>Response</h3>
      <pre id="example-response">You will see the response here.</pre>
    </div>
  </div>
</section>
