<section class="phx-hero">
  <h1>Test API</h1>
  <p>Simple API that is (maybe) useful for testing</p>
</section>

<section>
  <h2>Example</h2>
  <div id="example">
    <div>
      <select id="method">
        <option value="get">Get</option>
        <option value="post">Post</option>
        <option value="put">Put</option>
        <option value="delete">Delete</option>
      </select>
      <label>Status</label><input id="status" type="number" value="200">
      <label>Body</label><textarea id="body">hi</textarea>
      <label>Timeout</label><input id="timeout" type="number" value="1">
      <button id="example-button">Run</button>
    </div>
    <div>
      <h3>Curl</h3>
      <p id="example-curl">Press the 'Run' and you will see the curl command here.</p>
    </div>
    <div>
      <h3>Response</h3>
      <pre id="example-response">You will see the response here.</pre>
    </div>
  </div>
</section>
